@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: rgb(198, 190, 190);
    width: 300px;
    font-family: 'Fira Sans', sans-serif;
    height: 150vh;
}

.sidebar nav{
    padding: 20px;
}

.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /*background-color: yellow;*/
    width: 90vw;
}

.container{
    display: flex;
}

.infoContainer{
    /*background-color: rgb(136, 255, 0)*/;
    margin: 144px auto;
    height: 55vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
}

.devPic img{
    width: 270px;
    height: 55vh;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 65px;
}
.name{
    font-size: 45px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size: 38px;
}

.moreabout{
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 20px;
}
.buttons{
    margin-top: 25px;
}

.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 15px;
    margin: 0  3px;
    cursor: pointer;
}

.btn-sm{
    font-size: 12px;
    padding: 10px 19px;
    margin: 12px 0;
}

.btn:hover{
    background-color: white;
    color: dodgerblue;
}

.contactform{
    font-family: 'Fira Sans', sans-serif;
    padding: 0 34px;
    padding-top: 80px;
}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
    /*text-align: center;*/
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;
}

#emailHelp{
    font-size: 10px;
    color: midnightblue;
    padding-top: 00px;
    /*margin: 0 5px;*/
}

#form-check{
    flex-direction: row;
} 

#form-check input {
    width: 20px;
    margin:3px 0;
} 

.blogItem{
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}

h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 21px;
}

p{
    font-family: 'Source Code Pro', monospace;
}

.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}

.intro p{
    margin: 12px;
    font-family: 'Source Code Pro', monospace;
}

.skillcontainer{
    padding: 12px;
}

.skillItem{
    display: flex;
    font-family: 'Source Code Pro', monospace;
    align-items: center;
    font-weight: 900;
}

.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid;
}

.hundred{
    width: 265px;
    background-color: aquamarine;
}

.fifty{
    width: 125px;
    background-color: aqua;
}

.t5{
    width: 75px;
    background-color: aquamarine;
}

.hamburger{
    position: absolute;
    cursor:pointer;
    top:10px;
    left:10px;
}

.cross{
    margin-left: 150px;
}



@media(max-width: 1000px){
    *{
    }
    /*.sidebar{
        transform: translate(-443px, 0px);
        position: absolute;
    }*/
}
